node_modules/
.DS_Store
.env
.env.*

# Evidências geradas pelo Cypress
cypress/videos/
cypress/screenshots/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Artefatos temporários
coverage/
dist/
build/
